<!--Link for external styleshett-->
<head>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/phone-default.css">
</head>
	
	<!--Start of Form-->
	<form class="container form-horizontal" name="myForm" ng-submit="addNew(newAuthor,skills)" >
		<div class="border">
			<h2>Add New Author </h2>
			<!--Div for Employee Id-->
			<div class="form-group">
				<label class="col-sm-2 control-label">Employee ID:<sup>*</sup></label> 
				<div class="col-sm-10">
					<input class="form-control" type="number" name="empid" ng-model="newAuthor.empid"  placeholder="Employee Id" required/>
					<span ng-show="myForm.empid.$invalid && myForm.empid.$dirty">
					Invalid Employee Id
					</span>
				</div>	
			</div>
		
			<!--Div for Author Name-->
			<div class="form-group">
				<label class="col-sm-2 control-label">Name:<sup>*</sup></label> 
					<div class="col-sm-10">
						<input class="form-control" type="text" name="name" ng-model="newAuthor.name"  placeholder="Name" required/>
						<span ng-show="myForm.name.$invalid && myForm.name.$dirty">
						Invalid Name
						</span>
					</div>	
			</div>	
			
			<!--Div for Author Email-->
			<div class="form-group">
				<label class="col-sm-2 control-label">Email:<sup>*</sup></label> 
					<div class="col-sm-10">
						<input class="form-control" type="email" name="email" ng-model="newAuthor.email" placeholder="Email" required/>
						<span ng-show="myForm.email.$invalid && myForm.email.$dirty">
						Invalid Email Address
						</span>
					</div>	
			</div>	
		
			<!--Div for Author Skills-->
			<div class="form-group">
				<label class="col-sm-2 control-label">Skills:<sup>*</sup></label> 
					<div class="checkbox col-sm-1"><label><input type="checkbox" value="Java" ng-click="toggleSelection('Java')"/>Java</label>
					<label class="check"><input type="checkbox" value=".Net" ng-click="toggleSelection('.Net')"/>.Net</label>
					<label class="check"><input type="checkbox" value="HTML" ng-click="toggleSelection('HTML')"/>HTML</label>
					<label class="check"><input type="checkbox" value="JavaScript" ng-click="toggleSelection('JavaScript')"/>JavaScript</label>
					<label class="check"><input type="checkbox" value="Other" ng-model="hasChecked" ng-click="toggleSelection()"/>Other</label>
					</div>
			</div>

			<!--Div for Author Department-->		
			<div class="form-group">
				<label class="col-sm-2 control-label">Department:</label> 
				<div class="col-sm-10">
					<input  class="form-control" type="text" name="department" ng-model="newAuthor.department" placeholder="Department"/>
				</div>	
			</div>	
		
			<!--Div for Website-->
			<div class="form-group">
				<label class="col-sm-2 control-label">Website:</label> 
					<div class="col-sm-10">
					<input  class="form-control" type="text" name="website" ng-model="newAuthor.website" placeholder="Website"/>
					</div>	
			</div>
			
			<!--For Save button-->	
			<button class="btn btn-primary btnForSave text-center col-xs-12 col-sm-1" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
			<button class="btn btn-primary btnForReset text-center col-xs-12 col-sm-1" ng-click="reset()"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>Reset</button>
		</div>
	</form>